<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020244872331-d06t5o4m73373r0skedq2h50s2qoskg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020244872331-d06t5o4m73373r0skedq2h50s2qoskg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBzrwO9hbMnf1oTLFwDjPkn1-RcJYxMifY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020244872331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arandomdeveloper.SmartBedClient</string>
	<key>PROJECT_ID</key>
	<string>smartbedfyp</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbedfyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020244872331:ios:610d8f5f1d01a8de85188e</string>
	<key>DATABASE_URL</key>
	<string>https://smartbedfyp.firebaseio.com</string>
</dict>
</plist>
